// base
@import "compass";
@import "sassy-buttons";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "partials/_normalize.scss";
@import "partials/_prism.scss";
@import "partials/_typography.scss";
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    background: #e6dfd9;
    padding: 0 rhythm(1.5) rhythm(1.5);
    @include respond-to(37.438) {
        font-size: 90%;
    }
    @include respond-to(30) {
        padding: 0 rhythm(.5) rhythm(.5);
        font-size: 87%;
    }
}
img {
    max-width: 100%;
}
.background-component {
    font-family: $code-font;
    position: fixed;
    top: 0;
    left: 0;
    height: 50%;
    overflow-y: hidden;
    display: block;
    word-break: break-all;
    color: darken($background-color,6%);
    user-select: none;
    z-index: -1;
    line-height: 1.2;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(bottom, $background-color 10%, rgba(255,255,255,0) 50%);
        content: "";
        height: 100%;
    }
}
.github-corner {
    position:fixed;
    top: 0;
    right: 0;
    z-index:2000;
    @media (max-width:500px) {display: none;}
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
.header {
    max-width: 1240px;
    margin: 0 auto;
    @include clearfix;
}
.header__left {
    float: left;
    width: 40%;
    position: relative;
    img {
        vertical-align: bottom;
        width: 100%;
        height: auto;
        max-width:100%;
        @include respond-to(63.938) {
            max-width: 380px;
            padding-top: rhythm(1);
        }
        @include respond-to(30) {
            width: 100%;
        }
    }
    h2 {
        font-family: $subheading-font;
        font-weight: normal;
        text-transform: uppercase;
        color: #666666;
        @include adjust-font-size-to(22px,1);
        letter-spacing: 0.8px;
        @include respond-to(30) {
             @include adjust-font-size-to(18px,1);
        }
    }
    .btn__clone {
        @include sassy-button("shiny", 5px, 19px, $accent2);
        @include sassy-button-style("push", $accent2);
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0,0,0,.3);
        svg {
            vertical-align: top;
            position:relative;
            top: 2px;
            fill:white;

        }
        @include respond-to(63.938) {
            display: none;
        }
    }
    @include respond-to(63.938) {
        width: 100%;
        height: auto!important;
    }
}
.header__content-wrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;
    @include respond-to(63.938) {
        position: static;
    }
}
.header__right {
    float: left;
    width: 60%;
    img {
        position: relative;
        bottom: -27%;
        z-index: 2;
        width: 100%;
        height: auto;
    }
    @include respond-to(63.938) {
        display: none;
    }
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
    padding: rhythm(5) 0 rhythm(3);
    overflow: auto;
    &:after,
    &:before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #fff;
        background-image: linear-gradient(45deg, $accent2 25%, transparent 25%, transparent 75%, $accent2 75%, $accent2), linear-gradient(45deg, $accent2 25%, transparent 25%, transparent 75%, $accent2 75%, $accent2);
        background-size: 50px 50px;
        background-position: 0 0, 25px 25px;
        @include respond-to(37.438) {
            background-size: 25px 25px;
            background-position: 0 0, 12.5px 12.5px;
            height: 25px;
        }
    }
    &:after {
        bottom: 0;
        top: auto;
    }
    @include respond-to(37.438) {
        padding: rhythm(2) 0;
    }
}
.container__col {
    &--left {
        width: calc(100% - 250px);
        float: left;
        padding: rhythm(.2) rhythm(2);
        @include respond-to(63.938) {
            width: 100%;
        }
        @include respond-to(37.438) {
            padding: rhythm(1);
        }
    }
    &--right {
        width: 250px;
        float: left;
        padding-left:rhythm(1.5);
        @include respond-to(63.938) {
            display: none;
        }
    }
}
nav {
    &.sticky {
        position: fixed;
        top: 20px;
    }
    ul {
        @include reset;
        padding-top: rhythm(.25);
        li {
            font-family: $subheading-font;
            list-style: none;
            text-transform: uppercase;
            @include adjust-font-size-to(18px,1);
            margin: 0 0 rhythm(1);
            @media (max-height:800px) {
                @include adjust-font-size-to(16px,1);
                margin: 0 0 rhythm(.5);
            }
            &.backtotop a {
                @include adjust-font-size-to(16px,1);
                color:lighten($text-light,30%);
                text-transform: none;
                font-family: $text-font;
            }
            > ul li {
                margin-bottom: 0;
                a {
                    font-family: $text-font;
                    text-transform: none;
                    color: $accent;
                    text-decoration: none;
                    padding: 2px 5px;
                    position: relative;
                    left: -5px;
                    &.active {
                        background: $accent;
                        color: white;
                    }
                }
                &:first-child {
                    padding-top: rhythm(.25);
                }
            }
        }
    }
    @include respond-to(63.938) {
        display: none;
    }
}
.container__col--left a,
.container__col--left a:active,
.container__col--left a:visited {
    color: $accent2;
}
.alert {
    &--danger {
        @include alert-danger;
        padding: rhythm(.5) rhythm(1);
        margin-bottom: rhythm(1);
        font-family: $text-font;
        @include adjust-font-size-to(16px,1);
    }
    &--warning {
        @include alert-warning;
        padding: rhythm(1);
        margin-bottom: rhythm(1);
        font-family: $text-font;
        @include adjust-font-size-to(16px,1);
    }
}
