html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

header {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #e6dfd9;
  padding: 0 2.5em 2.5em;
}

@media all and (max-width: 37.438em) {
  body {
    font-size: 90%;
  }
}

@media all and (max-width: 30em) {
  body {
    padding: 0 0.83333em 0.83333em;
    font-size: 87%;
  }
}

img {
  max-width: 100%;
}

.background-component {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  top: 0;
  left: 0;
  height: 50%;
  overflow-y: hidden;
  display: block;
  word-break: break-all;
  color: #dacfc7;
  z-index: -1;
  line-height: 1.2;
}

.background-component:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to top, #e6dfd9 10%, rgba(0, 0, 0, 0) 50%);
  content: "";
  height: 100%;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

@media (max-width: 500px) {
  .github-corner {
    display: none;
  }
}

@media (max-width: 500px) {

}

.header {
  max-width: 1240px;
  margin: 0 auto;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header__left {
  float: left;
  width: 40%;
  position: relative;
}

.header__left img {
  vertical-align: bottom;
}

@media all and (max-width: 63.938em) {
  .header__left img {
    max-width: 380px;
    padding-top: 1.66667em;
  }
}

@media all and (max-width: 30em) {
  .header__left img {
    width: 100%;
  }
}

.header__left h2 {
  font-family: "Comfortaa", cursive;
  font-weight: normal;
  text-transform: uppercase;
  color: #666666;
  font-size: 1.22222em;
  line-height: 1.36364em;
  letter-spacing: 0.8px;
}

@media all and (max-width: 30em) {
  .header__left h2 {
    font-size: 1em;
    line-height: 1.66667em;
  }
}

@media all and (max-width: 63.938em) {
  .header__left {
    width: 100%;
    height: auto !important;
  }
}

.header__content-wrapper {
  position: absolute;
  bottom: 0;
}

@media all and (max-width: 63.938em) {
  .header__content-wrapper {
    position: static;
  }
}

.header__right {
  float: left;
  width: 60%;
}

.header__right img {
  position: relative;
  bottom: -27%;
  z-index: 2;
}

@media all and (max-width: 63.938em) {
  .header__right {
    display: none;
  }
}
