html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

header {
  display: block;
}

img {
  border: 0;
}

html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #e6dfd9;
  padding: 0 40px 40px;
}

img {
  max-width: 100%;
}

.background-component {
  font-family: "Source Code Pro", monospace;
  position: fixed;
  top: 0;
  left: 0;
  height: 50%;
  overflow-y: hidden;
  display: block;
  word-break: break-all;
  color: #dacfc7;
  z-index: -1;
  line-height: 1.2;
}

.background-component:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to top, #e6dfd9 10%, rgba(0, 0, 0, 0) 50%);
  content: "";
  height: 100%;
}

.header {
  max-width: 1240px;
  margin: 0 auto;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header__left {
  float: left;
  width: 40%;
  position: relative;
}

.header__left img {
  vertical-align: bottom;
}

.header__left h2 {
  font-family: "Comfortaa", cursive;
  font-weight: normal;
  text-transform: uppercase;
  color: #666666;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.header__content-wrapper {
  position: absolute;
  bottom: 0;
}

.header__right {
  float: left;
  width: 60%;
}

.header__right img {
  position: relative;
  bottom: -27%;
  z-index: 2;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  min-height: 10000px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  padding: 8.33333em 0 5em;
  overflow: auto;
}

.container:after,
.container:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(45deg, #248747 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #248747 75%, #248747), linear-gradient(45deg, #248747 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #248747 75%, #248747);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}

.container:after {
  bottom: 0;
  top: auto;
}
