<meta name="description" content="Boxtent automates your workflow and takes care of assets optimization, concatenation, minification and much more.">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png?v=2" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png?v=2" sizes="16x16">
<link rel="manifest" href="/images/favicons/manifest.json?v=2">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg?v=2" color="#ffffff">
<link rel="shortcut icon" href="/images/favicons/favicon.ico?v=2">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml?v=2">
<meta name="theme-color" content="#ffffff">

<!-- facebook -->
<meta property="og:title" content="BoxTent">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.boxtent.top/">
<meta property="og:image" content="http://www.boxtent.top/images/social-img.png?v=2">
<meta property="og:description" content="Boxtent automates your workflow and takes care of assets optimization, concatenation, minification and much more.">

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="http://www.boxtent.top/">
<meta name="twitter:creator" content="@vlrprbttst">
<meta name="twitter:title" content="BoxTent">
<meta name="twitter:description" content="Boxtent automates your workflow and takes care of assets optimization, concatenation, minification and much more.">
<meta name="twitter:image" content="http://www.boxtent.top/images/social-img.png?v=2">
<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Windows/IE font smoothing -->
<meta http-equiv="cleartype" content="on">
<!-- Use latest IE rendering engine and switch on chrome Frame if available -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script charset="utf-8">
      function loadCSS( href, before, media ){
          "use strict";
          var ss = window.document.createElement( "link" );
          var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
          var sheets = window.document.styleSheets;
          ss.rel = "stylesheet";
          ss.href = href;
          ss.media = "only x";
          ref.parentNode.insertBefore( ss, ref );
          function toggleMedia(){
              var defined;
              for( var i = 0; i < sheets.length; i++ ){
                  if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                      defined = true;
                  }
              }
              if( defined ){
                  ss.media = media || "all";
              }
              else {
                  setTimeout( toggleMedia );
              }
          }
          toggleMedia();
          return ss;
      }
      loadCSS( "css/main.css" );

      function onloadCSS( ss, callback ) {
	var called;
	function newcb(){
			if( !called && callback ){
				called = true;
				callback.call( ss );
			}
	}
	if( ss.addEventListener ){
		ss.addEventListener( "load", newcb );
	}
	if( ss.attachEvent ){
		ss.attachEvent( "onload", newcb );
	}
 	if( "isApplicationInstalled" in navigator && "onloadcssdefined" in ss ) {
		ss.onloadcssdefined( newcb );
	}
}


</script>
