// FONTS

$headings-font: 'Bangers', cursive;
$subheading-font: 'Comfortaa', cursive;
$code-font: 'Source Code Pro', monospace;
$text-font: 'Source Sans Pro', sans-serif;

// COLORS

$background-color: #e6dfd9;
$accent:#d74e37;
$accent2:#248747;
$text:#111;
$text-light:#666;
