<nav class="nav">
    <ul>
        <li>
            overview
            <ul>
                <li class="active">
                    <a href="#" data-scroll="introduction">Introduction</a>
                </li>
                <li>
                    <a href="#" data-scroll="installation">Installation</a>
                </li>
                
            </ul>
        </li>
        <li>
            overview
            <ul>
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Installation</a></li>
                <li><a href="#">Folder Structure</a></li>
            </ul>
        </li>
    </ul>
</nav>
