<nav class="nav">
    <ul>
        <li>
            overview
            <ul>
                <li>
                    <a href="#introduction" class="active">Introduction</a>
                </li>
                <li>
                    <a href="#installation">Installation</a>
                </li>
            </ul>
        </li>
        <li>
            working with boxtent
            <ul>
                <li><a href="#folder-structure">Folder Structure</a></li>
                <li><a href="#development-stage">Development Stage</a></li>
                <li><a href="#build-stage">Build Stage</a></li>
            </ul>
        </li>
    </ul>
</nav>
